@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.HeaderView {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: rgb(233, 233, 233);
}
.Logo {
  display: flex;
<<<<<<< HEAD
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}

.Menu {
  display: flex;
  padding: 20px;
}

.Menu a {
  margin-left: 20px;
  font-size: 25px;
}
=======
  flex-direction: row;
}

#menu {
  display: flex;
  flex-direction: row;
}

/* div {
  font-size: 30px;
} */
>>>>>>> 9f5c2285e19ea88723d0540c7f1eddb98b041ed0
