@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "IBM Plex Sans KR", sans-serif;
  /*font-family: "Noto Sans KR", sans-serif;*/
}

.Login h1 {
  margin-bottom: 20px;
  font-weight: bold;
}

.Login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 5px;
}

.Login form input {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  width: 500px;
  height: 60px;
  margin: 10px 30px;
  padding: 20px;
}

.button-login {
  border-radius: 5px;
  background-color: black;
  color: white;
  width: 500px;
  height: 60px;
  margin: 10px;
}

.button-kakao {
  border-radius: 5px;
  background-color: rgb(255, 237, 38);
  width: 500px;
  height: 60px;
  margin: 10px;
}
